<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>微博历史热搜 - 按时间查询</title>
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}" media="all">
    <script th:src="@{/layDate/laydate/laydate.js}" charset="utf-8"></script>
    <script th:src="@{/layui/layui.js}" charset="utf-8"></script>
    <script th:src="@{/js/jquery.min.js}" charset="utf-8"></script>
    <script>
        layui.use('laydate', function () {
            var laydate = layui.laydate;
            laydate.render({
                elem: '#test5'
                , type: 'datetime'
            });
        });
    </script>
</head>
<body>
<div class="layui-row" style="margin-top: 2%;">
    <div class="layui-col-md2">
        <label class="layui-form-label" style="width: 170px;text-align: center;">请选择查询时间：</label>
    </div>

    <div class="layui-col-md4">
        <input type="text" class="layui-input" id="test5" placeholder="精确到分，与秒无关">
    </div>
    <div class="layui-col-md2">
        <button style="margin-left: 20px;" class="layui-btn layui-btn-primary" onclick="show($('#test5').val())">点击查询
        </button>
    </div>
    <div class="layui-col-md4" style="margin-top: 7px;">
        <span >（注：排名与热度都为0的数据为置顶位）</span>
    </div>
</div>
<table class="layui-hide" id="test" lay-filter="test"></table>
<script type="text/html" id="toolbarDemo"></script>
<script>
    function show(time) {
        layui.use('table', function () {
            const table = layui.table;

            table.render({
                elem: '#test'
                , url: '/api/query-by-time/' + time
                , cellMinWidth: 100
                , cols: [
                    [
                        {field: 'rank', title: '排名', sort: true, width: '10%', align: 'center'}
                        , {field: 'title', title: '标题', width: '40%'}
                        , {field: 'hot', title: '热度', sort: true, width: '20%', align: 'center'}
                        , {field: 'tag', title: '标签', width: '10%', align: 'center'}
                        , {field: 'time', title: '时间', width: '20%', align: 'center'}
                    ]
                ]
            });

            table.on('row(test)', function (obj) {
                window.open("https://s.weibo.com/weibo?q=" + encodeURIComponent(obj.data['title']))
                obj.tr.addClass('layui-table-click').siblings().removeClass('layui-table-click');
            });
        });
    }
</script>
</body>
</html>